.buttonAddCard {
  cursor: pointer;
  padding: 0;
  color: #fff;
  background-color: transparent;
  border: 2px solid;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  transition: 0.3s opacity ease-in;
}

.buttonAddCard:hover {
  opacity: 0.6;
  transition: 0.3s opacity ease-in;
}
