{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", "tsx"] }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@common", "./src/common"],
          ["@entities", "./src/entities"],
          ["@features", "./src/features"],
          ["@widgets", "./src/widgets"],
          ["@images", "./src/shared/images"],
          ["@icons", "./src/shared/icons"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
