.button {
  cursor: pointer;
  padding: 0;
  color: #fff;
  background-color: transparent;
  transition: 0.3s opacity ease-in;
}

.button:hover {
  opacity: 0.6;
  transition: 0.3s opacity ease-in;
}

.button-edit-profile {
  border: 1px solid;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

.button-add-card {
  border: 2px solid;
  border-radius: 4px;
  width: 150px;
  height: 50px;
}

.button-like {
  position: absolute;
  bottom: 12px;
  right: 14px;
  border: none;
  background-color: transparent;
  width: 26px;
  height: 26px;
  transition: 0.3s transform ease-in;
}

.button-like:hover {
  transform: scale(1.3);
  transition: 0.3s transform ease-in;
}

.button-submit {
  border: 2px solid;
  background-color: #000;
  width: 358px;
  height: 50px;
}

.button-submit_inactive {
  padding: 0;
  border: 2px solid;
  background-color: #fff;
  width: 358px;
  height: 50px;
  color: lightgrey;
}

.button-submit_inactive:hover {
  cursor: default;
  opacity: 1;
}

.button-close {
  position: absolute;
  top: 180px;
  right: 540px;
  border: none;
}

.button-delete {
  border: none;
  background-color: transparent;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in;
}

@media (max-width: 768px) {
  .button-edit-profile {
    width: 18px;
    height: 18px;
  }
  .button-add-card {
    width: 282px;
  }
}

@media (max-width: 600px) {
  .button-submit {
    width: 238px;
    height: 46px;
  }
}
