.input {
  width: 358px;
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.input-radio {
  margin: 4px;
  cursor: pointer;
}

.input:valid {
  border-bottom: 1px solid green;
}

.input-error {
  color: red;
  font-size: 12px;
}

.input-type-error {
  border-bottom-color: red;
}

.label-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 600px) {
  .input {
    width: 238px;
    height: 27px;
  }
}
