.gallery {
  box-sizing: border-box;
  width: 100%;
  max-width: 918px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 18px;
  row-gap: 20px;
  padding: 0 18px 66px;
  justify-content: center;
}
