.footer {
  width: 100%;
  max-width: 900px;
  padding: 30px 0 20px;
  background-color: #292929;
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.footer__copyright {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 926px) {
  .footer {
    box-sizing: border-box;
    padding-left: 22px;
  }
}
