@font-face {
  src: url(./shared/fonts/Inter-Regular.woff) format("woff"),
    url(./shared/fonts/Inter-Regular.woff2) format("woff2"),
    url(./shared/fonts/Inter-Regular.ttf) format("truetype");
  font-family: "Inter";
  font-weight: normal;
}

@font-face {
  src: url(./shared/fonts/Inter-Black.woff) format("woff"),
    url(./shared/fonts/Inter-Black.woff2) format("woff2"),
    url(./shared/fonts/Inter-Black.ttf) format("truetype");
  font-family: "Inter";
  font-weight: 900;
}

@font-face {
  src: url(./shared/fonts/OleoScript-Regular.ttf) format("truetype");
  font-family: "OleoScript";
  font-weight: 400;
}

@font-face {
  src: url(./shared/fonts/OleoScript-Bold.ttf) format("truetype");
  font-family: "OleoScript";
  font-weight: 900;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
